html,
body {
    width: 100%;
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #afafaf;
}

.cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/bg.png) no-repeat;
}

.box {
    background-color: #071840;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 8px 8px 5px rgba(0, 0, 0, .4);
}

.top {
    width: 100%;
    background-color: #202226;
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 0 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.close {
    padding: 20px 0;
    font-size: 10px;
    color: #FFF;
}

.but {
    padding: 20px 0 20px 5px;
    font-size: 20px;
}

.but:hover {
    cursor: pointer;
}

.bt-um {
    color: #e84436;
}

.foto {
    width: 120px;
    border-radius: 60px;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.sg {
    margin: 0;
    padding: 0px 20px;
}

.pic {
    margin: 10px 200px 0px 400px;
}

.form {
    padding: 10px 10px 30px 40px;
    margin-bottom: 30px;
}

.logar {
    padding: 12px 0;
    margin: 0 auto;
}

.logar#outros {
    margin: 0 auto;
    font-size: 12px;
    padding: 4px;
}

.base {
    background-color: #202226;
    border-radius: 0px 0px 10px 10px;
    color: #FFF;
    text-align: center;
}

.base:hover {
    background-color: #2d713a;
    cursor: pointer;
    transition: background-color .5s;
}

.base h2 {
    font-size: 30px;
}

.login-senha {
    padding: 2px;
    margin: 2px 30px 0px 0px;
}

.input-group-addon {
    background: 0;
    border: none;
    border-radius: none;
    border-bottom: 1px solid #adadad;
    color: aliceblue;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    background: 0 !important;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #adadad;
    color: #fff;
    border-radius: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.esqueceu-senha {
    color: #FFF;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    top: 0px;
}

.bt {
    margin: 0px 0px 10px 50px;
    font-size: 0.85em;
}

.cadastros {
    border: 1px rgba(255, 255, 255, .3) solid;
    display: inline-table;
    border-spacing: 2px;
}

#span-btn {
    color: #FFF;
    top: -2px;
    font-size: 12px;
}

#span-btn-2 {
    color: #FFF;
    font-size: 12px;
}

.pull-right {
    float: right !important;
}

.btn {
    text-align: center;
    padding: 5px;
    width: 150px;
    border-radius: 0px;
}

.btn#bt-tabela {
    width: 50px;
    border-radius: 0px;
}




.pull-left {
    float: left !important;
}



.table-bordered>thead>tr>th:first-of-type {
    text-align: center;
    width: 70px;
}




.panel-table {
    color: #fff;
    background: rgba(199, 199, 199, 0.17);
    text-align: center;
}

.panel-table td {
    padding: 0px;
}
.panel-table #tb-max-70{
    width: 70px;
    text-align: center;
}

#bt-tabela {
    color: #fff;
}

.form-inline#procura-cadastro {
    border: 1px rgba(255,255,255, .5 ) solid;
    padding: 0px 0px 20px 10px;
    margin: 0px 0px 35px 0px;
}

.form-inline#procura-cadastro>span {
    color: #a5a1a1;
    padding: 7px
}

.form-control#id-aluno {
    margin-right: 100px;
}

